body {
           
	background-image: url('https://images.unsplash.com/photo-1627655045499-9b1cdc0f25a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
	background-size: cover;
    	
}

h1{
	display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: 7%;
    margin-bottom: 7%;
    position: relative;
}
.startButton{
	font-size: 25px;
	
}

#stats {
	/* text-align: center;
    position: absolute;
    font-size: 24px; */
	display:inline;
	font-size: 20px;
}

html{
	text-align: center;
  }